body {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.cardContainer {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 992px) {
  .cardContainer {
    padding: 10px;
  }
}
