.cardContainer {
    width: calc(100% - 32px); /* Adjust the width to account for padding */
    height: calc(100% - 32px); /* Adjust the height to account for padding */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    position: relative;
    padding: 16px; /* Adjust padding inside the card container */
    box-sizing: border-box; /* Ensures the padding is included in the element's total width and height */
    margin: 8px; /* Adjust margin to create gap around the card container */
  }
  
/* sx={{
    width: '100%',
    maxWidth: '100vw',
    backgroundColor: 'rgba(255, 255, 255, 0.1)',
    backdropFilter: 'blur(10px)',
    padding: { xs: 2, sm: 4 },
    borderRadius: 4,
    boxShadow: '0 4px 8px rgba(0, 0, 0, 0.3)',
    overflowX: 'hidden', // Ensure the container is not too wide on large screens
    position: 'relative',
  }} */